* {
  box-sizing: border-box;
}

.stopwatch {
  width: 320px;
  margin: 80px auto 0 auto;
}
.display {
  text-align: center;
  font-size: 56px;
  padding-bottom: 40px;
}
.controller {
  display: flex;
  justify-content: space-between;
  padding: 0 40px 0 40px;
}

/* @media(min-width: 768px) {
  .display {
    font-size: 64px;
  }
} */